.speech {

    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.776);
}


.direction {

    font-family: Times New Roman, serif;
    font-size: 14px;
    color: rgb(8, 164, 125);
    background-color: white; 
    transition: background-color 0.3s, color 0.3s;

}

.direction:hover {

    background-color: #d9dad6; 

    color: white;

}

.Billing {

    color: #FF5733; 

}

 

.Hovstad {

    color: #3498DB; 

}

 


.character-table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;

}


.character-table th {

    background-color: #333333;

    color: white;

    text-align: center;

    padding: 10px;

    border: 1px solid #917f7f;

}

 /* Style for alternating row stripes */

.character-table tbody tr:nth-child(odd) {

    background-color: #f5f5f5;

}

 /* Style for table cells (td) */

.character-table td {

    text-align: center;

    padding: 8px;

    border: 1px solid #ccc;

}



.speech:hover {

    text-shadow: 2px 2px 4px #FF5733;

    border: 1px solid #FF5733;

}



.bottom-navbar {

    background-color: #879c0d;

    color: white;

    text-align: center;

    padding: 10px 0;

}

 

.bottom-navbar ul {

    list-style-type: none;

    padding: 0;

}

 

.bottom-navbar ul li {

    display: inline;

    margin-right: 20px;

}

 

.bottom-navbar ul li:last-child {

    margin-right: 0;

}

 

.bottom-navbar a {

    text-decoration: none;

    color: white;

}

 

.bottom-navbar a:hover {

    text-decoration: underline;

}

 